DATABASE_URL=postgresql://user:password@localhost:5432/database_name?schema=public"
JWT_SECRET=top top confidential secret classified
NODE_ENV=dev
LOG_LEVEL=debug
CLOUDINARY_CLOUD_NAME=cloudinary name
CLOUDINARY_API_KEY=cloudinary key
CLOUDINARY_API_SECRET=9cloudinary api secret
FRONT_END_URL=cross origin front end url

# Admin Seed Credentials
ADMIN_EMAIL=admin seed email
ADMIN_PASSWORD="admin seed password